body {
  background: #384047;
  font-family: sans-serif;
}

#app {
  max-width: 720px;
  margin: auto;
  display: flex;
  justify-content: center;
}

.row {
  margin: 50px auto 10px;
  position: relative;
}

canvas {
  background: #fff;
  display: block;
  border-radius: 5px;
  box-shadow: 0 4px 0 0 #222;
  cursor: url(../img/cursor.png), crosshair;
}

button {
  outline: none;
  cursor: pointer;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 7px 0 #222222;
  background: #2196f3;;
}

.controls {
  padding: 1rem;
}

.controls button {
  height: 50px;
  width: 50px;
  margin-right: 8px;
  border-radius: 100%;
  color: #fff;
}

/* Color Picker */
.box {
  width: 320px;
  padding: 1rem;
  background: #fff;
  border-radius: 2px;
  box-shadow: 1px 0 10px #251e1e;
  position: absolute;
  left: -250px;
  bottom: 75px;
  transition: all 0.4s;
}

.show.box {
  display: block;
}

.hidden.box {
  display: none;
}

.box__heading {
  font-weight: bold;
}

.palette {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 1rem 0 0 1rem;
}

.palette__color-item {
  position: relative;
  width: 50px;
  height: 50px;
  background: green;
  border-radius: 100%;
  margin: 0 10px 10px 0;
}

.palette__color-item:hover {
  cursor: pointer;
  background: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%20512%20512%22%20width%3D%22512%22%20height%3D%22512%22%3E%3Cpath%20d%3D%22M504.5%2075.5c-10-10-26.2-10-36.2%200L161.6%20382.2%2043.7%20264.3c-10-10-26.2-10-36.2%200%20-10%2010-10%2026.2%200%2036.2l136%20136c10%2010%2026.2%2010%2036.2%200L504.5%20111.7C514.5%20101.7%20514.5%2085.5%20504.5%2075.5z%22%20data-original%3D%22%23000000%22%20class%3D%22active-path%22%20data-old_color%3D%22%23F2F2F2%22%20fill%3D%22%23FFF%22/%3E%3C/svg%3E) no-repeat center;
  background-size: 42% 42%;
  z-index: 9999;
}

.active.palette__color-item:after {
  content: " ";
  background: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%20512%20512%22%20width%3D%22512%22%20height%3D%22512%22%3E%3Cpath%20d%3D%22M504.5%2075.5c-10-10-26.2-10-36.2%200L161.6%20382.2%2043.7%20264.3c-10-10-26.2-10-36.2%200%20-10%2010-10%2026.2%200%2036.2l136%20136c10%2010%2026.2%2010%2036.2%200L504.5%20111.7C514.5%20101.7%20514.5%2085.5%20504.5%2075.5z%22%20data-original%3D%22%23000000%22%20class%3D%22active-path%22%20data-old_color%3D%22%23F2F2F2%22%20fill%3D%22%23FFF%22/%3E%3C/svg%3E) no-repeat center;
  background-size: 60% 60%;
  width: 35px;
  height: 35px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 100%;
  text-align: center;
}

.triangle-down {
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #fff;
  position: absolute;
  bottom: -20px;
  right: 43px;
}

/* Styles for input type=range */

input[type=range] {
  -webkit-appearance: none;
  margin-left: 2rem;
  width: 30%;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  cursor: pointer;
  background: #03a9f4;
  height: 3px;
}

input[type=range]::-webkit-slider-thumb {
  box-shadow: 0 0 4px #03a9f4;
  height: 15px;
  width: 15px;
  border-radius: 100%;
  background: #03a9f4;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}

/* Mozila slider */

input[type=range]::-moz-range-track {
  height: 3px;
  cursor: pointer;
  background: #03a9f4;
}

input[type=range]::-moz-range-thumb {
  box-shadow: 0 0 4px #03a9f4;
  height: 15px;
  width: 15px;
  border-radius: 100%;
  background: #03a9f4;
  cursor: pointer;
}